		<!-- Footer, copyright -->
        <footer>
            <p>
                Banner image from <a href="https://www.jisc.ac.uk/news/flipping-continuing-professional-development-20-aug-2015">here</a>
			</p>
			<p>
                Icons from <a href="http://www.flaticon.com">Flaticon</a>
            </p>
			<p>
				&copy; Akshay Nair, Seyed Hossein Fazeli, Anson Chen, Kevin Thich | Made for <a href="http://www.cdf.toronto.edu/~csc309h/summer">CSC309, Summer 2016</a>.
			</p>
        </footer>
    </body>
</html>