body {
    background: #F1F3FA;
    font-family: 'Roboto', sans-serif;
}

.profile-container {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.profile-sidebar {
    padding: 20px;
    background: #fff;
    float: left;
    margin-right: 10px;
    width: 15%;
    height: 100%;
}

.profile-pic img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.profile-title {
    text-align: center;
    margin-top: 20px;
}

.profile-title-name, .profile-title-job {
    font-size: 16px;
    margin-bottom: 10px;
}

.profile-rating {
    display: block;
    margin: 10px auto;
    text-align: center;
}

/*Used when viewing own profile
.profile-buttons {
    display: none;
}
*/


.profile-buttons button{
    text-align: center;
    margin: 10px auto;
    display: block;
    text-transform: uppercase;
    font-size: 0.7em;
    padding: 6px 15px;
    width: 70%;
    height: auto;
}

.profile-menu{
    margin-top: 30px;
}

.profile-menu ul li{
    list-style: none;
}

.profile-menu ul li a {
    color: #93a3b5;
    font-size: 14px;
    text-decoration: none;
}


.profile-menu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-content {
    padding: 0px;
    width: 75%;
    float: left;
}

.post {
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
}

.post h2 {
    margin-top: 0;
}

form {
    background: #fff;
    padding: 10px;
}

form input[type='text'] {
    width: 100px;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
}

input#postalcode, input#unit,
input#housenum {
    width: 70px;
}

input#street {
    width: 150px; 
}

input#email {
    width: 250px;
}

#messages {
    margin-left: 15px;
}

.message {
    background: #fff;
    max-height: 200px;
    overflow: scroll;
    margin-bottom: 15px;
        
}

.msg-text {
    margin: 10px;
}
/* Used when other people view profile
.self {
    display: none !important; 
}
*/

