<%- include partials/head.ejs %>
		<main>
			<h2>Error</h2>
            <p>You have gone somewhere you shouldn't have. Please take note of the URL and send it to the developers.</p>
		</main>
<%- include partials/footer.ejs %>