<%- include partials/head.ejs %>
		<main>
			<section class="modal-box" id="stats">
				<h2 class="title">Controls</h2>
                
                <button id="repopulate">Repopulate database</button>
                <a href="/admin-signup" class="self"><button>Add New User</button></a>
			</section>
		</main>
<%- include partials/footer.ejs %>