<%- include partials/head.ejs %>
        <!--Banner-->
        <header>
            <h1>Reliable service for all your devices</h1>
        </header>
        
		<!-- Main article information -->
        <main>
            <article class="front-article">
                <h2>What is RepuTech?</h2>
                <p>We are a service following the <strong>sharing economy</strong> paradigm, a socio-economic system built around the sharing of human and physical resources.</p>
                
                <p>In our case, users can offer their knowledge of various devices (PCs, laptops, Macs, smartphones) in order to help others in need regarding technological problems.</p>
                
                <p>We enable people to help out others in their community.</p>
            </article>
            
            <article class="front-article">
                <h2>How it works</h2>
                <img class="left" alt="User" src="../assets/images/user.svg">
                <h3>Create a profile</h3>
                <p>Sign up with your information and get verified to begin.</p>

                <img class="left" alt="Search" src="../assets/images/search.svg">
                <h3>Search for services</h3>
                <p>Whether you're looking for tech support or are offering your own time, use our search engine to discover an opportunity that suits you.</p>

                <img class="left" alt="Calendar" src="../assets/images/calendar.svg">
                <h3>Schedule a meeting</h3>
                <p>Use our built-in messaging program to arrange a meeting with another member.</p>
            </article>
            
            <section id="gallery"></section>
            
        </main>
        
        <script defer src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
<%- include partials/footer.ejs %>