<%- include partials/head.ejs %>

       <main>
			<!--<section class="topbar flexbox flexbox-row">
                <section class="profile-pic">
                    <img alt="Avatar" src="../assets/images/avatar.png">
                </section>
                
				<section class="profile-status">
					<p>&#9733&#9733&#9733&#9733&#9734</p>
					<p>23 Followers</p>
                </section>
                
                <section class="profile-title">
                    <h3>John Doe</h3>
                    <p>Smartphone Technician</p>
					<p>Toronto, Canada</p>
					<p>Mood: Tech-tastic</p>
                </section>
                
                <section class="profile-buttons">
                    <a href="profile.html" class="other"><button>Follow</button></a>
                    <a href="messages.html" class="other"><button>Message</button></a>
					<a href="admin.html" class="other"><button>Report</button></a>
                </section>
            </section>-->

             <section class="post-content" id="post-content"></section>
            
        </main> 
		
<%- include partials/footer.ejs %>