<%- include partials/head.ejs %>

       <main>
             <section class="post-content" id="post-content"></section>
            
        </main> 
        
        <script type='text/javascript'>
          var post = <%-JSON.stringify(post)%>
          var user = <%-JSON.stringify(user)%>
        </script>    
<%- include partials/footer.ejs %>