<%- include partials/head.ejs %>
        <main>
            <section class="sidebar flexbox flexbox-column">
                
                <section class="profile-pic"></section>
                <!--
                
                <section class="profile-buttons">
                    <button>Follow</button>
                </section>-->
				<section class="profile-menu">
                    <button id='general'>General Info</button>
                    <button id='messages'>My Messages</button>
                    <button id='posts'>My Posts</button>
                    <button id='create-listing'>Create Listing</button>
                    <button id='wiki'>My Wiki Posts</button>
                    <button id='settings'>Update Account Info</button>
                </section>
            </section>

            <!--Placeholder for profile content-->
            <section class="profile-content" id="profile-content"></section>
            
        </main> 
<%- include partials/footer.ejs %>