html, body {
    padding: 0;
    margin: 0;
}

header {
    margin: 0;
    width: 100%;
    height: auto;
}

main {
    width: 100%;
    /*min-width: 1200;*/
    height: auto;
    min-height: 640px;
    background: #f6f6f1; 
    padding-bottom: 5em;
    margin-top: -1px;
    padding-top: 1px; 
    margin-bottom: -1px;
    padding-bottom: 1px;
}

#log-sec {
    width: 40%;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    background: white; 
    border-radius: 10px;
    border: 1px solid lightgrey;
    height: 450px;
}

#log-sec form {
    width: 70%;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto; 
}

#fb-icon {
    width: 293px;
    height: 62px;
    background: red;
    background-image: url('../images/fb.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

.reg-inp {
    width: 96%; 
    padding-left: .5em;
    outline: none;

    margin-top: .4em;
    margin-bottom: .4em;
    height: 2em;
    border-radius: 10px;
    color:#595959;
    border: 1px solid lightgrey;
    font: 1.3em Arial, Helvetica, sans-serif;
}

.reg-inp:focus {
    border: 2px solid #80b3ff;
    box-shadow: 0px 0px 8px #b3d1ff;
}

#submit {
    background: #1976D2;
    width:100%;
    margin-top: 1em;
    color: white;
    height: 2em;
    border-radius: 10px;
    border: none;
    transition-duration: .4s;
    font-weight: bold;
    font: 1.4em Arial, Helvetica, sans-serif;
}

#submit:hover {
    cursor: pointer;
    background: #448AFF;
    color: white;
}

#title {
    width: 70%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-weight: bold;
    font: 1.8em Arial, Helvetica, sans-serif; 
    color: #1976D2;
    padding-top: 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid lightgrey;
}
