
/* 'Hacks' section for responsive design
------------------------------------------------------------- */
/* Handle box-sizing cross browsers */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Responsive images */
img {
    max-width: 100%;
}


/* Global styles section
------------------------------------------------------------- */
html, body {
    /* Standardize font so we can resize it later */
    font-size: 100%;
    height: 100%;
}

body, nav, footer, header {
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
    font-family: Helvetica, Geneva, Tahoma, sans-serif;
}

/* Helper classes */
.flexbox {
    /* Flexbox container for responsively changing rows/columns */
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.flexbox-row {
    flex-flow: row wrap;
}

.flexbox-column {
    flex-flow: column wrap;
}

.flexbox > section {
    flex: 1;
    text-align: center;
}

.flexbox:after { 
    /* hack for clearing floats */
    content: " "; 
    display: block; 
    clear: both; 
}

.modal-box {
    width: 80%;
    margin: 1em auto;
    background-color: white; 
    border-radius: 1em;
    box-shadow: 0 0 0.5em 2px grey;
    border: 2px solid grey;
    text-align: center;
}

.modal-box > * {
    margin: 1em auto;
}

.modal-box img {
    padding: 1em;
}

.modal-box h2 {
    padding-bottom: 0.25em;
    border-bottom: 1px solid lightgrey;
}

.right {
    float: right;
}

.left {
    float: left;
}

.nofloat {
    float: none !important;
}

.error {
    color: red;
}

/* Styles section
------------------------------------------------------------- */

/* Common elements */
h1 {
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 500; /* Thinner font */
    letter-spacing: 0.125em;
    line-height: 2;
    text-align: center;
}

h2 {
    color: #1976D2;
    font-size: 2em;
    font-weight: 500;
}

h3 {
    font-size: 1.5em;
}

button, input, textarea, select {
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
} 

a {
    text-decoration: none;
}

a {
    transition: opacity 0.4s;
}

a:hover {
    opacity: 0.6;
}

button { 
    background-color: #1976D2;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin: 0.5em 1em;
    transition: background-color 0.4s;
}

button:hover {
    background-color: #448AFF;
}

main, footer {
    padding: 1em;
}

main {
    overflow: auto;
    background-color: #f6f6f1;
    margin-top: 12em;
}

input[type="number"], input[type="text"], 
input[type="password"], input[type="email"],
textarea, select {
    color: #595959;
    background-color: white;
    border: 1px solid #ccc;
    margin: 0.5em auto;
    outline: none;
}

input[type="number"], input[type="text"]:not(.input-half), 
input[type="password"], input[type="email"], 
textarea, select {
    width: 90%;
}

input[type="number"]:focus, input[type="text"]:focus, select:focus,
input[type="password"]:focus, input[type="email"]:focus,
textarea:focus {
    border: 1px solid #80b3ff;
    box-shadow: 0 0 0.5em #b3d1ff;
}

.input-half {
    width: 44.5%;
}

/* Nav bar */ 
.logo img {
    padding: 0.25em;
    max-height: 12em; /* nav bar size */
}

nav {
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 10;
    max-height: 12em;
    border-bottom: 1px solid lightgrey;
}

nav button, nav input {
    margin: 0.5em 0.5em !important;
}

/* Index page */
header {
    width: 100%;
    height: 500px;
    top: 12em; /* header */
    /* Background picture darker to read text easier */ 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('../images/banner-small.jpg') no-repeat center fixed;
    background-size: cover;  /* Cover the whole area */ 
    z-index: -1;
	
    position: relative;
}

header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 1em), calc(-50% - 1em));
}

.front-article {
    color: #545454;
    line-height: 1.5;
}

.front-article > * {
    margin: 1em 0;
}

.front-article img {
    margin: 1em 1em;
    max-height: 4em;
    max-width: 4em;
}

.inline-form {
    display: inline-block;
    vertical-align: middle;
}

/* Profile page */

.sidebar, .topbar {
    padding: 0em;
    background-color: white;
}

.sidebar button { 
    background-color: #ededed;
    color: #7e7e7e;
    margin: 0;
    transition: background-color 0.4s;
    width: 100%;
    font-size: 1em;
    padding: 1em 2em;
    border-radius: 0;
    text-align: left;
}

.sidebar button.active {
    background-color: white;
    color: #1976D2;
}

.profile-content {
    padding: 0em;
    background-color: white;
    min-height: 50em;
}

#listing-form {
    margin-left: 2em;
}

#profile-wiki {
    padding: 2em;
    background-color: white;
    text-align: center;
    overflow: scroll-y;
}

#profile-general h3 {
    margin: 0;
    padding: 0.5em;
    font-size: 2.5em;
    font-weight: lighter;
    color: white;
    background: #1976D2;
}

#profile-general p {
    margin-bottom: 0.5em;
    padding-left: 1.5em;
}

#gallery h3 {
    color: #1976D2;
    font-size: 2em;
    font-weight: 500;
    margin-left: 0.5em;
}

.profile-status, .post-review {
    margin-bottom: 1em;
    color: green;
    text-rendering: auto;
}

.profile-wiki, .admin-user, .post, 
.post-similar, .post-review, .post-comment {
    border: 1px solid grey;
    border-radius: 0.5em;
    margin: 2em;
    padding: 1em;
    max-height: 20%;
    overflow: scroll-y;
}

.post, .post-similar, .post-review, .post-comment {
    transition: border 0.5s, transform 0.5s;
}

.post:hover, .post-similar:hover, 
.post-review:hover, .post-comment:hover {
    border: 1px solid lightgrey;
    transform: scale(1.005);
}

.post-full {
    padding: 2em;
}

.post-img {
    border-radius: 1em;
}

.post-similar {
    float: left;
}

.post h2, .post-full h2, .portal {
    text-align: center;
}

legend {
    font-size: 1.5em;
    padding: 1 0.5em;
    padding-top: 1em;
    color: #1976D2;
}

fieldset {
    padding-left: 2em;
    border: 0px solid lightgrey;
    border-radius: 0.5em;
}

.profile-content fieldset p {
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0em;
}

/* Admin */
.admin-report {
    overflow: auto;
}

/* Footer */
footer {
    background-color: #2D2D2D;   
}

footer p {
    color: white;
    margin: 1em auto;
    text-align: center;
}

footer a:link {
    color: #70B5D1;
}

/* Start of slider */

section#gallery ul {
    position: relative;
    display: block;
    margin: 3em auto;
    padding: 0;
    overflow: hidden;
    width: 80%;
    height: 325px;
}

section#gallery ul li {
    position: absolute;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 250px;
    height: 325px;
}

section#gallery ul li.hidden {
    display: none;
}
section#gallery ul li.showcase {
    width: 500px;
}

section#gallery ul li img {
    width: 100%;
}

/* Start of slider controller */

.ui-widget-content {
    background: #000;
    border: none;
    margin: 3rem auto;
    width: 33.333%;
}

.ui-slider-horizontal {
    height: 5px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
    border-radius: 100%;
    background: #1976D2;
}
.ui-slider .ui-slider-handle {
    cursor: pointer;
    outline: none;
    width: 30px;
    height: 30px;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -15px;
}

/* Media queries - Mobile-first approach
----------------------------------------------- */

/* Mobile, landscape */
@media screen and (min-width: 480px) {
}

@media screen and (min-width: 570px) {
    .sidebar {
        float: left;
        width: 25%;
    }
	
    .profile-content {
        float: left;
        width: 75%;
    }
	
    .logo img {
        max-height: 9em; /* nav bar size */
    }
	
    main {
        margin-top: 9em;
    }
	
    nav {
        max-height: 9em;
    }
	
    header {
        top: 9em; /* header */
    }
	
    .admin-report-user {
        width: 50%;
        float: left;
    }
}

/* Tablet devices: portrait */
@media screen and (min-width: 768px) {    
    header {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url('../images/banner-large.jpg') no-repeat center fixed;
        background-size: cover;
    }
    
    body {
        font-size: 105%;
    }
}

@media screen and (min-width: 830px) {
    .logo img {
        max-height: 3em; /* nav bar size */
    }
	
    main {
        margin-top: 3em;
    }
	
    nav {
        max-height: 3em;
    }
	
    header {
        top: 3em; /* header */
    }
}


/* Tablet devices: landscape */
@media screen and (min-width: 1024px) {
    body {
        font-size: 110%;
    }
}

/* Desktop */
@media screen and (min-width: 1280px) {
    body {
        font-size: 115%;
    }
}

@media screen and (min-width: 1600px) {
    body {
        font-size: 120%;
    }
}